 
    body {
      font-family: 'Courier New', Courier, monospace, sans-serif;
      background: linear-gradient(to right, #fdfffe, #d4f8f8);
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    .converter-box {
      background: #ffffffcc;
      padding: 30px;
      border-radius: 10px;
      box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    }

    h2 {
      color: #3508ff;
      text-align: center;
    }

    label {
      font-weight: bold;
      margin-right: 10px;
    }

    input[type="number"] {
      padding: 8px;
      width: 150px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }

    #result {
      margin-top: 20px;
      font-weight: bold;
    }
  